* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: turquoise;
  font-size: 200%;
  font-display: bold;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  top: 0;
  width: 100%;
  height: 150px;
  position: fixed;
  background-color: #ffffff;
}

.hamburger {
cursor: pointer;
cursor: pointer;
background-color: transparent;
border: none;
outline: none;
position: relative;
padding: 10px;
}

.hamburger .bar {
   display: block;
    width: 20px;
    height: 3px;
    margin: 5px;
}

  nav {
    top: 0;
    position: fixed;
    right: -100%;
    width: 300px;
    height: 100%;
    overflow: hidden;
    padding-top: 48px;
    transition: right 0.5s;
    background-color: #91cddf;
  }
  
  nav a {
    display: block;
    padding: 24px 8px;
    color: pink;
    font-size: 24px;
    font-weight: 500;

  }

  .hamburger-menu {
    display: inline-block;
    cursor: pointer;
  }
  
  #hamburger-icon {
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  }
  
  .line {
    width: 36px;
    height: 6px;
    margin: 6px;
    background-color: #bff7ff
  }
  
  #hamburger-btn {
    display: none;
  }
  
  #hamburger-btn:checked + nav {
    right: 0;
  }

* {
  margin: 0;
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  }
  
  header{
  height: 45px;

  }

  header nav ul{
  display: flex;
  margin-left: 80%;
  }
  
  header nav ul li{
  padding-left: 10%;
  }


  header img {
    height: 85%;
    width: 95%;
  }
  
  section {
  height: 100vh;
  border: 1px aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;

  }
  
  .Container {
  margin-top: 10%
  }
  
  .Container img{
  height: 300px;
  position: right;
  }
  
  .Container h2{
  margin-top: 3%;
  }
  
  footer {
  line-height: 40px;
  display: flex;
  justify-content: center;
  }

  * {
    padding: 0;
    margin: 0;
    }
    
    header{
    height: 45px;

    }

    header nav ul{
    display: flex;
    margin-left: 70%;
    list-style: none;

    }
    
    header nav ul li{
    padding-left: 10%;

    }
    
    header a{
    text-decoration: none;
    color: pink;
    
    }
    
    section{
    height: 100vh;
    border: 1px aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    }
    
    .Container img {
    height: 300px;
    border-radius: 50%;

    }
    
    .Container h2{ 
    margin-top: 2%;
    font-size: 3em;
    font-family: 'Geneva', 'Geneva Regular', sans-serif;

    }
    .Container p, ul {
    margin-top: 2%;
    font-size: 1.5rem;

    }
    
    footer {
    line-height: 40px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    }

      #about{
      background-color: pink;
      }
      #contact{
      background-color: aliceblue;
      }


      * {box-sizing:border-box}

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
  
    button {
        width: 10%;
      height: 10%;
      color: #f500a8;
      font-size: large;
      background-color: #bff7ff;
      position: absolute;
      cursor: pointer;
  
.close:hover {
  color: #f500a8;
  text-decoration: none;
  cursor: pointer;
}
